<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<meta charset="UTF-8">
	<title>{{ config['HTML_TITLE'] }} {% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='script.js') }}"></script>
	{% endblock %}
</head>
<body>
	<div class="page">
		<header>
			{% block header %}
			<h1>{{ config['HTML_TITLE'] }}</h1>
			{% endblock %}
		</header>
		<nav>
			<a href="{{ url_for('register') }}">Inskripzio berria</a> //
			<a href="{{ url_for('list') }}">Partehartzaileen zerrenda</a>
		</nav>
		<div class="content">
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			<div class="flashes">
			{% for category, message in messages %}
				<div class="{{ category }}">{{ message }}</div>
			{% endfor %}
			</div>
			{% endif %}
			{% endwith %}
			{% block content %}{% endblock %}
		</div>
		<footer>
			{% block footer %}
			<address>Ganekogorta M.K.<br>
			<a href="http://www.ganekogorta.org">http://www.ganekogorta.org</a> | <a
				href="mailto:ganekogortamk@gmail.com">ganekogortamk@gmail.com</a>
			</address>
			{% endblock %}
		</footer>
	</div>
</body>
</html>
