{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block header %}
	{{ super() }}
	<h2>Partehartzaileen zerrenda</h2>
{% endblock %}
{% block content %}
	<table>
	<tr>
	<th><span class="eu">Patruila zenbakia</span> / <span class="es">Número patrulla</span></th>
	<th><span class="eu">Izena</span> / <span class="es">Nombre</span></th>
	<th><span class="eu">Lehenengo abizena</span> / <span class="es">Primer apellido</span></th>
	<th><span class="eu">Bigarren abizena</span> / <span class="es">Segundo apellido</span></th>
	</tr>
	{% for entry in entries %}
	<tr>
	<td>{{ entry['number'] }}</td>
	<td>{{ entry['name'] }}</td>
	<td>{{ entry['first_lastname'] }}</td>
	<td>{{ entry['second_lastname'] }}</td>
	</tr>
	{% endfor %}
	</table>
{% endblock %}
