{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block header %}
	{{ super() }}
	<h2>Inskripzio berria</h2>
{% endblock %}
{% block content %}
			<p><span class="eu">
			Inskripzioa eginda, diru-sarrera egin behar da, 4 €-koa
			bazkidea edo federatua bazara edo 6 €-koa ez bazara ez bazkidea ez
			federatua, kontu-zenbaki hauetakoren batean: 
			</span></p>
			<p><span class="es">
			Una vez realizada la inscripción, se debe realizar el ingreso de 4 €
			(si eres socio/a o
			federado/a) o de 6 € (en caso de no ser ni socio/a ni federado/a)
			en cualquiera de los siguientes números de cuenta:
			</span></p>
			<ul>
				<li><span class="eu">Laboral Kutxa 3035 0089 12 0891003159</span></li>
				<li><span class="eu">Kutxa Bank 2095 3258 21 1091116383</span></li>
			</ul>
			<p><span class="eu">
			Diru-sarreraren ziurtagiria aurkeztu beharko da ibilaldian
			parte hartzeko agiria jaso ahal izateko.
			</span></p>
			<p><span class="es">
			El resguardo del ingreso deberá presentarse para recibir la
			acreditación de participación en la marcha.
			</span></p>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
