{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block header %}
	{{ super() }}
	<h2>Nuevo registro</h2>
{% endblock %}
{% block content %}
		<form action="{{ url_for('register') }}" method="post" class="register">
			<p>
				Para participar en la marcha Gorobel Ibilaldia 2014 es
				imprescindible realizar el registro en esta página web y
				posteriormente realizar el ingreso de XX€ (o YY€ en caso de ser
				socio de Mendiko Lagunak) en el número de cuenta de Mendiko
				Lagunak xxxxxxxxxxxxxxxxxx de la Caja Laboral. El resguardo del ingreso
				deberá presentarse para recibir la acreditación de
				participación en la marcha.
			</p>
			<p><strong>Registro abierto hasta el XX/YY/ZZ 00:00</strong></p>
			<label for="name">Nombre:</label>
			<input type="text" id="name" name="name" required>
			<label for="first_lastname">Primer apellido:</label>
			<input type="text" id="firts_lastname" name="first_lastname" required>
			<label for="second_lastname">Segundo apellido:</label>
			<input type="text" id="second_lastname" name="second_lastname" required>
			<label for="id_number">NIF <span class="example">(por ejemplo, 12345678A)</span>:</label>
			<input type="text" id="id_number" name="id_number" required oninput="validate_id_number(this)">
			<label for="re_id_number">Vuelva a introducir el NIF <span class="example">(por ejemplo, 12345678A)</span>:</label>
			<input type="text" id="id_number" name="re_id_number" required oninput="check_id_number(this)">
			<label for="settlement">Población:</label>
			<input type="text" id="settlement" name=settlement required>
			<label for="province">Provincia:</label>
			<input type="text" id="province" name="province" list="provinces" required>
			<datalist id="provinces">
				<option value="Araba">
				<option value="Bizkaia">
				<option value="Gipuzkoa">
				<option value="Nafarroa">
				<option value="Lapurdi">
				<option value="Nafarroa-Beherea">
				<option value="Zuberoa">
			</datalist>
			<label for="sex">Sexo:</label>
			<select id="sex" name="sex" required>
				<option value="man" selected>Hombre</option>
				<option value="woman">Mujer</option>
			</select>
			<label for="federated">Federado:</label>
			<select id="federated" name=federated required>
				<option value="yes">Si</option>
				<option value="no" selected>No</option>
			</select>
			<label for="club">Club de Montaña <span class="example">(solo si se pertenece a alguno)</span>:</label>
			<input type="text" id="club" name="club">
			<label for="email">E-mail:</label>
			<input type="text" id="email" name="email" required oninput="validate_email(this)">
			<label for="re_email">Vuelva a introducir el E-mail:</label>
			<input type="text" id="re_email" name="re_email" required oninput="check_email(this)">
			<label for="born_date">Fecha de nacimiento <span class="example">(por ejemplo, 31-12-1990)</span>:</label>
			<input type="text" id="born_date" name="born_date" required oninput="validate_born_date(this)">
			<input type="submit" value="Enviar">
			<p class="lopd">
			En cumplimiento de la Ley Orgánica 15/1999, de 13 de diciembre de
			Protección de Datos de Carácter Personal (LOPD), Mendiko Lagunak
			M.T. informa de las siguientes consideraciones:

			"Los datos de carácter personal que se faciliten 
			mediante este formulario serán incluidos en un
			fichero titularidad de Mendiko Lagunak M.T., cuya finalidad es
			posibilitar la organización de la marcha de montaña Gorobel
			Ibilaldia 2014. Los datos recabados son imprescindibles para el
			desarrollo de dicha actividad. Con el envío del
			formulario, autoriza la cesión de sus datos para los fines
			indicados.

			Puede ejercitar sus derechos de acceso, rectificación, cancelación
			y oposición dirigiéndose mediante comunicación escrita al siguiente
			domicilio Mendiko Lagunak M.T., c/Jose Pikatza , 3. 01470
			Amurrio (Araba), dicha comunicación deberá incluir nombre y apellidos,
			petición en que se concreta la solicitud, dirección a efectos de
			notificaciones, fecha, firma y DNI o pasaporte."
			</p>
		</form>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
