{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block header %}
	{{ super() }}
	<h2>Inskripzio berria</h2>
{% endblock %}
{% block content %}
		<form action="{{ url_for('register') }}" method="post" class="register">
			<p><span class="eu">
			2013ko Okondo Ibarra Ibialdian parte hartu ahal izateko, web gune honetan
			erregistratu behar da. Ondoren diru-sarrera egin behar da, 5 €-koa
			bazkidea edo federatua bazara edo 8 €-koa ez bazara ez bazkidea ez
			federatua, kontu-zenbaki honetan: 
			</span></p>
			<p><span class="es">
			Para participar en la marcha Okondo Ibarra 2013, es
			imprescindible realizar el registro en esta página web y
			posteriormente realizar el ingreso de 5 € (si eres socio/a o
			federado/a) o de 8 € (en caso de no ser ni socio/a ni federado/a)
			en el siguiente número de cuenta:
			</span></p>
			<ul>
				<li><span class="eu">Kutxa Bank 2095 3291 14 1090922039</span></li>
			</ul>
			<p><span class="eu">
			Diru-sarreraren ziurtagiria aurkeztu beharko da ibilaldian
			parte hartzeko agiria jaso ahal izateko.
			</span></p>
			<p><span class="es">
			El resguardo del ingreso deberá presentarse para recibir la
			acreditación de participación en la marcha.
			</span></p>
			<p><strong><span class="eu">Inskripzio epea: Azaroaren 11tik azaroaren 21ra.</span></strong></p>
			<p><span class="eu">Plazo de inscripción: del 11 de noviembre al 21 de noviembre.</span></p>
			<label for="name"><span class="eu">Izena</span> / <span class="es">Nombre</span>:</label>
			<input type="text" id="name" name="name" required>
			<label for="first_lastname"><span class="eu">Lehenengo abizena</span> / <span class="es">Primer Apellido</span>:</label>
			<input type="text" id="firts_lastname" name="first_lastname" required>
			<label for="second_lastname"><span class="eu">Bigarren abizena</span> / <span class="es">Segundo Apellido</span>:</label>
			<input type="text" id="second_lastname" name="second_lastname" required>
			<label for="id_number"><span class="eu">IZF <span class="example">(adibidez, 123456789A)</span></span> / <span class="es">NIF <span class="example">(por ejemplo, 123456789A)</span></span>:</label>
			<input type="text" id="id_number" name="id_number" required oninput="validate_id_number(this)">
			{% if config['HTML_RECHECK'] %}
				<label for="re_id_number"><span class="eu">Errepikatu IZF</span> / <span class="es">Vuelva a introducir el NIF</span>:</label>
				<input type="text" id="id_number" name="re_id_number" required oninput="check_id_number(this)">
			{% endif %}
			<label for="settlement"><span class="eu">Herria</span> / <span class="es">Localidad</span>:</label>
			<input type="text" id="settlement" name=settlement required>
			<label for="province"><span class="eu">Probintzia</span> / <span class="es">Provincia</span>:</label>
			<input type="text" id="province" name="province" list="provinces" required>
			<datalist id="provinces">
				<option value="Araba">
				<option value="Bizkaia">
				<option value="Gipuzkoa">
				<option value="Nafarroa">
				<option value="Lapurdi">
				<option value="Nafarroa-Beherea">
				<option value="Zuberoa">
			</datalist>
			<label for="sex"><span class="eu">Sexua</span> / <span class="es">Sexo</span>:</label>
			<select id="sex" name="sex" required>
				<option value="man" selected>Gizonezkoa / Hombre</option>
				<option value="woman">Emakumezkoa / Mujer</option>
			</select>
			<label for="federated"><span class="eu">Federatua</span> / <span class="es">Federado</span>:</label>
			<select id="federated" name=federated required>
				<option value="no" selected>Ez / No</option>
				<option value="yes">Bai / Sí</option>
			</select>
			<label for="club"><span class="eu">Mendi taldea</span> / <span class="es">Club de montaña</span>:</label>
			<input type="text" id="club" name="club">
			<label for="email"><span class="eu">Helbide elektronikoa</span> / <span class="es">Correo electrónico</span>:</label>
			<input type="text" id="email" name="email" required oninput="validate_email(this)">
			{% if config['HTML_RECHECK'] %}
				<label for="re_email"><span class="eu">Errepikatu helbide elektronikoa</span> / <span class="es">Vuelva a introducir el correo electrónico</span>:</label>
				<input type="text" id="re_email" name="re_email" required oninput="check_email(this)">
			{% endif %}
			<label for="born_date"><span class="eu">Jaioteguna <span class="example">(adibidez, 31-12-1990)</span></span> / <span class="es">Fecha de nacimiento (por ejemplo, 31-12-1990)</span>:</label>
			<input type="text" id="born_date" name="born_date" required oninput="validate_born_date(this)">
			<input type="submit" value="Bidali / Enviar">
			<p class="lopd"><span class="eu">
			Datuen Babeserako abenduaren 13ko 15/1999 Lege Organikoa betez,
			Ganekogorta mendi-klubak honen berri ematen du: “Formulario
			honen bidez emandako datu pertsonalak Ganekogorta
			mendi-klubaren titulartasuneko fitxategi batean sartuko dira, eta
			fitxategi horren helburua II. Ibilaldi Neurtua Okondo Ibarra mendi-martxa
			antolatu ahal izatea da. Bildutako datuak ezinbestekoak dira
			aipatutako jarduera hori garatzeko. Formularioa bidaliz gero,
			baimena ematen duzu zure datuak helburu horietarako lagatzeko.
			Datuok ikusi, zuzendu, ezeztatu eta aurkaratzeko eskubideak erabil
			ditzakezu, eta, horretarako, idazkia bidali beharko duzu helbide
			honetara: Ganekogorta Mendi Kluba, Plaza de la Iglesia s/n - 1
			Planta (Kultur Etxea), 01409
			Okondo (Araba). Idazki horretan izen-abizenak, eskaera zehatza,
			jakinarazpenetarako helbidea, data, sinadura eta NAN edo
			pasaporte-zenbakia adierazi beharko dituzu”.
			</span></p>
			<p class="lopd"><span class="es">
			En cumplimiento de la Ley Orgánica 15/1999, de 13 de diciembre de
			Protección de Datos de Carácter Personal (LOPD), Ganekogorta
			M.K. informa de las siguientes consideraciones:
			"Los datos de carácter personal que se faciliten 
			mediante este formulario serán incluidos en un
			fichero titularidad de Ganekogorta M.K., cuya finalidad es
			posibilitar la organización de la marcha de montaña II. Marcha
			Regulada Valle de Okondo. Los datos recabados son imprescindibles para el
			desarrollo de dicha actividad. Con el envío del
			formulario, autoriza la cesión de sus datos para los fines
			indicados.
			Puede ejercitar sus derechos de acceso, rectificación, cancelación
			y oposición dirigiéndose mediante comunicación escrita al siguiente
			domicilio Ganekogorta Mendi Kluba, Plaza de la Iglesia s/n - 1
			Planta (Kultur Etxea), 01409
			Okondo (Araba), dicha comunicación deberá incluir nombre y apellidos,
			petición en que se concreta la solicitud, dirección a efectos de
			notificaciones, fecha, firma y DNI o pasaporte."
			</span></p>
		</form>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
