{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block header %}
	{{ super() }}
	<h2>Nuevo registro</h2>
{% endblock %}
{% block content %}
	<p>Una vez realizado el registro correctamente se debe realizar el ingreso de
XX€ (o YY€ en caso de ser socio de Mendiko Lagunak) en el número de cuenta de
Mendiko Lagunak xxxxxxxx de la Caja Laboral. Como concepto del ingreso se debe
proporcionar el texto "Gorobel - número de dorsal".</p>
	</p>El día de la marcha se deberá de indicar el número de dorsal asignado y
	se deberá presentar el resguardo del ingreso.</p>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
